*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg-box{
    background-image:url(./assets/images/samsung1.png), url(./assets/images/samsung.png);
    background-size: 25%, cover;
    background-position-y:50% ;
    background-position-x:20% ;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
 
}
@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&family=Sixtyfour&display=swap');
.momo-trust-display-regular {
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
}
.bg-box p{
  text-align: center;
  color: blueviolet;
  margin-left: 50%;
}

.sixtyfour-font {
  font-family: "Sixtyfour","Momo Trust Display" sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal 35deg;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0;
}
