*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
.bg-box{
    background-image:url(../assets/images/paulpogba1.png), url(../assets/images/paulpogba.png);
    background-size: 30%, cover;
    background-position-y: 30% ;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
.bg-box h1{
    text-align: center;
    color: darkgoldenrod;
    padding: 30px;
    font-size: 40px;
}
.text-white{
    color: white;
}
.text-yellow{
    color: yellow;
}
.text-distance-control{
    padding-bottom: 8%;
}
.text-distance-control1{
    padding-top: 10%;
}
.text-distance-control2{
    padding-left: 30%;
    text-align: center;
    padding-bottom: 10%;
}