*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text-green{
    color: green;
}
.text-yellow{
    color: yellow;
}
.background-black{
    background-color: black;
}
.box-red{
    width: 284px;
    height: 40px;
    background-color: red;
}
/* text align */
.text-end{
    text-align: end;
}
.text-center{
    text-align: center;
}
.text-start{
    text-align: start;
}
/* text align */

.margin-container{
   
    margin-top: 10px;
    margin-right: 215px;
    margin-bottom: 30px;        /* margin container */
    margin-left: 305px;
}
.padding-container {
    padding-top: 0px;
    padding-right: 50px;
    padding-bottom: 100px;     /* padding container */
    padding-left: 50px;
}

.border-container {
    border-top: 0px;
    border-right: 0px;
    border-bottom: 0px;      /* border container */
    border-left: 0px;
}

