* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Text align start */
.text-end {
    text-align: end;
}

.text-center {
    text-align: center;
}

.text-start {
    text-align: start;
}
/* text align end */

/* background color start */
.background-green{
    background-color: green;
}
/* background color end */

/* text color start */
.text-white{
    color: antiquewhite;
}
.text-red{
    color: red;
}

/* text color end */
/* square start */
.square-white{
    width: 200px;
    height: 100px;
    background-color: antiquewhite;
}
/* square end */