*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
h2{
    color: #00f800;
    text-align: center;
    text-decoration: overline;
    margin-top: 10px;
    text-shadow: 1px 4px 5px blue;
}
p{
    color: blue;
    text-decoration: underline;
    text-shadow: 1px 2px 1px red;
}
h3{
    color: orangered;
    text-decoration: ;
}
.ul-class{
    color: blue;
    margin-left: 17px;
    text-shadow: 1px 2px 5px green;
}
h5{
    color: blue;
    text-shadow: 1px 2px 5px red;
}
.button-class{
    border: 2px solid green;
    background-color: black;
    color: #00f800;
    text-decoration: line-through;
    margin-left: 340px;
}