/* reset css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* reset css end */
/* background box */
.bg-box{
    background-image:url(./assets/photos/behelit.png), url(./assets/photos/guts.png) ;
    background-repeat: no-repeat, no-repeat;
    background-size: 300px, cover;
    background-position-x: 0%, 0;
    background-position-y: 90%, 0 ;
    width: 100%;
    height: 100vh;
}
.bg-box h1{
    color: red;
    text-align: center;
}
.bg-box p{
    color: blue;
    text-align: end;
    text-shadow: 4px 10px 5px green;
    padding-left: 800px;
    margin-top: 700px;
}
.bg-box h2{
    color: aqua;
    text-shadow: 1px 4px 10px red;
    margin-top: 90px;
    margin-left: 20px;
}

/* background box end */