/* normal roboto font */
@font-face {
    font-family: "Roboto";
    src: url(./assets/fonts/Roboto/Roboto-Italic-VariableFont_wdth\,wght.ttf), url(./assets/fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf);
    font-style: italic;
}

.bg-box {
    background-image: url(./assets/images/image.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: yellow;
    text-align: center;
    font-size: 40px;
}

h2 {
    color: yellow;
    text-shadow: 2px 2px 15px red;
    text-decoration: overline;
    font-size: 30px;
    margin-top: 10%;
}

.ul-text {
    color: darkorchid;
    font-size: 30px;
    margin-left: 30px;
    margin-right: 50px;
    text-shadow: 2px 5px 10px red;
}

.roboto-font {
    font-family: "Roboto", sans-serif;
    font-size: 25px;
}