*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* #2 */
.custom-class{
    /*            x   y  blur  color */
    text-shadow: 3px 6px 5px  green;
}
/*  #2 end */
.custom-class1{
    color: aqua;
    /*  */
}
.button-class{
    /*     width style color */
    border: 2px dotted  blue;
}