*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.bg-container{
    color: aqua;
    background-image: url(./assets/images/arjunlion.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.bg-container h2{
    text-align: center;
    text-shadow: 0px 3.5px 25px green;
    font-size: 30px;
}
.bg-container ol{
    margin-left: 20px;
    text-decoration: underline;
    color: yellow;
    justify-items: center;
}
.bg-container1{
    color: black;
    background-image: url(./assets/gif/lion-roar.gif);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100vh;
}
.bg-container1 h3{
    padding-top: 10px;
    text-align: center;
    color:  rgb(40, 26, 0);
    text-decoration: overline;
    text-shadow: 2px 3px 25px green;
    font-size: 50px;
}
.bg-container1 p{
    padding: 830px 5px 5px 5px;
    text-align: center;
    font-size: 20px;
}
footer h2{
    color: green;
    text-align: center;
}
button{
    justify-content: center;
    margin-left: 450px;
    font-size: large;
}
.footer-box{
    background-color: yellow;
    color: black;
    width: 220px;
    height: 120px;
    font-size: 20px;
    padding: 5px;
}