/* 2) create custom class 
  1. give styles: text-align,  text-decoration,text-shadow */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: green;
}
.h2-class-1{
    color: blue;
    text-align: center;
    text-decoration: underline;
    text-shadow: 5px 11px 3px black ;
}
.h2-class-2{
    color: blue;
    text-align: center;
    text-decoration: underline;
    text-shadow: 0px;
}
.unordered-1{
    text-align: center;
    background-color: blue;
    padding-left: 20px;
    text-decoration: overline;
    text-shadow: 1px 1px 5px green;
}
/* paragraph style start */
.paragraph-style-1{
    color: black;
    text-shadow: 1px 1px 5px blue;
}
/* paragraph style end */
.h2-class-3{
    color: blue;
    text-shadow: 1px 1px 5px red;
    text-decoration: line-through;
    padding-left: 10px;
}
.h2-class-4{
    color: blue;
    text-shadow: 1px 2px 5px yellow;
    text-decoration:underline ;
    padding-left: 10px;
}